{% extends "dlouhyEmailBundle::html_layout.html.twig" %}

{% block logo %}{{ email.logo|raw }}{% endblock %}

{% block label %}{{ email.label|raw }}{% endblock %}

{% block header %}{{ email.header|raw }}{% endblock %}

{% block lead %}{{ email.lead|raw }}{% endblock %}

{% block content %}{{ email.contentHtml|raw }}{% endblock %}

{% block footer %}{{ email.footer|raw }}{% endblock %}

{% block footerMenu %}{{ email.footerMenu|raw }}{% endblock %}